<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>music anaylse</title>
<link rel="stylesheet" href="static/css/app.css">
<link rel="stylesheet" href="static/css/index.css">
<link rel="stylesheet" href="static/css/fonts.css">

<link rel="stylesheet" href="static/skew-text/css/style1.css">
<link rel="stylesheet" type="text/css" href="static/button/css/base_music.css" />
<script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this demo in a modern browser that supports CSS Variables.");</script>
<script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>

<!--弹窗

	<link rel="stylesheet" type="text/css" href="static/tc/css/demo.css">
	<link rel="stylesheet" type="text/css" href="static/tc/css/iziModal.css">
-->
</head>
<body>
<!-- 代码 开始 -->

<div class="text">
  <span>A</span>
  <span>I</span>
  <span></span>
  <span>A</span>
  <span>R</span>
  <span>T</span>
  <span>I</span>
  <span>S</span>
  <span>T</span>
</div>

<div class="wrap" id="wrap">

        <ul class="ul items">
            <li>
                <figure class="effect-jazz">
                    <img src="static/uploads/raw.jpg" alt="原画">
                    <figcaption>
                        <h2>
                            原画
                            <br>
                            <span>
                                Origin
                            </span>
                        </h2>
                        <p>

                        </p>

                    </figcaption>
                </figure>
            </li>

	<li>
	<div>
	<p>{{word1}}</p>
	<p>{{word2}}</p>
	<p>{{word3}}</p>
	<p>{{word4}}</p>
	</div>
	</li>


	<li>
                <figure class="effect-jazz">
                    <img src="static/uploads/tempture.jpg" alt="色温">
                    <figcaption>
                        <h2>
                            色温
                            <br>
                            <span>
                                color
                            </span>
                        </h2>
                        <p>

                        </p>

                    </figcaption>
                </figure>
            </li>
        </ul>

</div>
		<div style="text-align:center;">
			<div class="grid">
				<div class="grid__item theme-1">
					<button class="action"><svg class="icon icon--rewind"><use xlink:href="#icon-rewind"></use></svg></button>
					<button id="btn_home" class="particles-button">home</button>
				</div>
				<div class="grid__item theme-11">
					<button class="action"><svg class="icon icon--rewind"><use xlink:href="#icon-rewind"></use></svg></button>
					<button id="btn_music" class="particles-button">play</button>
				</div>

			</div>
		</div>


<script  src="static/skew-text/js/index.js"></script>
<script src='static/button/js/anime.min.js'></script>
<script src='static/button/js/particles.js'></script>
<script src='static/button/js/demo_music.js'></script>


</body>
</html>
