<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>AI ARITST</title>
    <link rel="stylesheet" href="static/skew-text/css/style.css">
	<link rel="stylesheet" type="text/css" href="static/button/css/base.css" />
	<script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this demo in a modern browser that supports CSS Variables.");</script>
<body>

  <div class="text">
  <span>A</span>
  <span>I</span>
  <span></span>
  <span>A</span>
  <span>R</span>
  <span>T</span>
  <span>I</span>
  <span>S</span>
  <span>T</span>
</div>
		<div style="text-align:center;">
			<div class="grid">
				<div class="grid__item theme-1">
					<button class="action"><svg class="icon icon--rewind"><use xlink:href="#icon-rewind"></use></svg></button>
					<button id="btn_login" class="particles-button">home</button>
				</div>
				<div class="grid__item theme-11">
					<button class="action"><svg class="icon icon--rewind"><use xlink:href="#icon-rewind"></use></svg></button>
					<button id="btn_pic" class="particles-button">picture</button>
				</div>
				<div class="grid__item theme-9">
					<button class="action"><svg class="icon icon--rewind"><use xlink:href="#icon-rewind"></use></svg></button>
					<button id="btn_select" class="particles-button" >poem</button>
				</div>
				<div class="grid__item theme-10">
					<button class="action"><svg class="icon icon--rewind"><use xlink:href="#icon-rewind"></use></svg></button>
					<button id='btn_music' class="particles-button">music</button>
				</div>
			</div>
		</div>
<script  src="static/skew-text/js/index.js"></script>
<script src='static/button/js/anime.min.js'></script>
<script src='static/button/js/particles.js'></script>
<script src='static/button/js/demo.js'></script>
</body>
</html>
